body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
}

.home-page {
  height: 100vh;
  width: 100vw;
  color: #49108b;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.thumbnail {
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.navbar {
  background-color: #2c2c2c;
  border-top: 5px solid #a30000;
  color: #9d9d9d;
  font-size: 18px;
  display: flex;
  line-height: 20px;
}

.home-page > div:first-child > p:hover {
  color: white;
  cursor: pointer;
}

.bradecrumb {
  color: black;
  font-size: 30px;
  font-weight: 300;
  margin-top: 20px;
}

.prettybox {
  padding: 8px;
  border: 1px solid #e1e1e8;
  background-color: #f7f7f9;
  border-radius: 5px;
  margin-bottom: 10px;
}

h6 {
  color: #d14;
  font-weight: bold;
}

a {
  color: #195f91;
  /* text-decoration: none; */
}

.under_construction {
  color: red;
  font-size: 14px;
}
