body {
  margin: 0;
  font-family: "Cascadia Code", monospace;
  background-color: #f3f8ff;
}

.home-page {
  background-color: #f3f8ff;
  height: 100vh;
  width: 100vw;
  color: #49108b;
}

.logo {
  width: 300px;
}

.thumbnail {
  object-fit: cover;
  width: 100px;
  height: 100px;
}
